<%- include("header")%>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-primary"><i class="fa fa-user" return="login">login with metamask</i></button>
        </div>
        <div class="col"></div>
    </div>
    <script>
        $(document).ready(()=>{

            ("#login").click(()=>{
              
                const acc = 
                
            })
        })
        
    </script>

    <%- include ("footer") %>